.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapertag.com%2Fwallpaper%2Ffull%2Fb%2Fc%2F0%2F867716-professional-desktop-wallpaper-2560x1440-ipad.jpg&f=1&nofb=1");
  background-size: cover
}

button {
  display: inline-block;
  margin: 5px;
}